/* header */

.miga {
    margin: 0.30em;
    font-size: 1.375em;
    border-bottom: 5px dashed blueviolet;
}

.breadcrumb-item a {
    color: black;
    text-decoration: none;
}

/* main */
.principalM section {
    text-align: center;
    font-size: 1.25em;
}

.principalM section div {
    margin: 0.55em;
}

.principalM section div a {
    color: blueviolet;
}

.imagenes {
    width: 17em;
    height: 12em
}

.texto {
    font-size: 1.25em;
}

.dropdown-item {
    cursor: pointer;
}

.card-text {
    font-size: 0.25em !important;
    font-weight: normal !important;
}

/* Botón de cerrar todas la ventanas. */
.btn-lg {
    margin: 0.55em;
    font-size: 1.55em;
}

.tamImg {
    width: 9.52em;
    height: 8em
}

hr {
    /* Para que no se salga del borde cuando se estrecha */
    flex-shrink: unset !important; 
    /* Para que se vea el color sin transparencia */
    opacity: 1 !important;
    height: 10px; 
    background-color: #f87f28;
}

.formu h3 {
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-decoration-style: dashed;
}